html {
	font-size: 16px;
}

body {
	max-width: 1200px; 
	margin: 0 auto; 
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-size: 1rem;

}

h1, 
h3, 
h4 {
	color: black; 
	text-transform: uppercase; 
}

p {
	padding: 0px 5px; 
	line-height: 21px;
    margin-left: inherit;
}

/*The widths are in a percentage!*/

header {
	width: 100%; 
	margin: 0 auto;
}
header h1{
	width: 100%; 
	height: auto;
	border-bottom: 3px solid #77a466; 
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;	
}

header span {
	color: #77a466;
}

nav {
	padding: 45px 0px;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav a {
    text-align: center;
	text-decoration: none; 
	text-transform: uppercase; 
	line-height: 3em;
	font-weight: bold; 
	font-size: 0.875em; 
	color:#77a466;
    padding: 6px;
}

/*The widths are in a percentage!*/
.top-section, 
.bottom-section {
	width: 100%; 
	margin: 0 auto; 
}

.top-section {
    width: 100%; 
    height: auto; 
    margin: 0 auto;
    font-size: 1em;    
}

.main-image {
	width: 100%; 
	height: auto; 
}

.main-image img {
	width: 100%; 
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
}

.main-title {
	width: 95%; 
	height: auto; 
	padding-left: 5%;
	padding-right: 5%;
}

.main-title h3 {
	text-align: center; 
	padding: 5px 0px; 
	text-transform: uppercase; 
	color: #77a466; 
	font-size: 1rem;
}

.main-title p {
	line-height: 25px; 
	font-size: 1rem;
}

.section-one, 
.section-two, 
.section-three {
	width: 100%; 
	height: auto; 
	border-top: 1px solid #eee;
}

.section-one, 
.section-two {
	border-right: 1px solid #eee;
}

.section-one h4 {
	padding: 10px 0px 0px 30px;
}

.section-one ul {
	padding-left: 30px;
}

.section-two h4, 
.section-three h4 {
	padding: 10px 30px;
}

.section-two p, .section-three p {
	padding-left: 30px;
}

.menu {
	list-style: none; 
	padding: 0px;
}

.menu li {
	padding: 10px 0; 
	color:#77a466;
}

.reviews {
	color: #333; 
	line-height: 21px; 
	font-size: 1rem;
}

.address {
	font-size: 16px; 
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	width: 100%; 
	height: 50px; 
	border-top: 3px solid #eee; 
	margin: 0 auto; 
	text-align: center;
}

footer span {
	font-family: "Wisdom Script", script; 
	text-transform: lowercase; 
	color: #77a466; 
	font-size: 14px;
}

/* RESPONSIVE */

@media all and (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media all and (min-width: 960px) {

	html {
        font-size:16px;
    }

    header {
    	overflow: hidden;
    }

    header h1 {
        text-align: left;
        border-bottom: none;
        padding-left: 30px;
        float: left;
        width: auto;
    }
    	
    nav {
        padding: 20px 10px 0 200px;
        border-bottom: none;
        float: right;
    }

    nav ul li {
    	display: inline-block;
    	float: left;
    	text-align: right;
    }

    .top-section {
    	clear: both;
    }

    .top-section h3 {
    	text-align: left;
    	font-size: 1.5rem;
    }
    
    .section-one, .section-two,
    .section-three {
    	width: 33%;
    	float:left;
    }

    .section-two {
    	padding-right: 10px;
    }

    	footer {
    	clear: both;
    }



}
