/***** BASE STYLES *****/

@font-face {
	font-family: Montserrat-Regular;
	src: url('../fonts/Montserrat-Regular.otf') format('opentype');
}

body{
	font-family: 'Pacifico', cursive;
}

/***** GRID *****/

.full-width{
	max-width: 1200px;
	margin: 0 auto;
}

.half-width{
	width: 50%;
	float: left;
}

.third-width{
	width: 359px;
	float: left;
}

/***** HEADER *****/

header{
	height: 110px;
}

header h1 {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 30px;
	padding: 50px 0;
	text-transform: uppercase;
}

header h1 span {
	color: #77a466;
}

nav {
	float: right;
	padding: 50px 0px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
	font-family: 'Montserrat-Regular', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #77a466;
    padding-left: 25px; 
}

/***** ABOUT *****/

.full-width img {
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
	padding: 0px;
}

#about .full-width{
	padding: 30px 0px;
}

#about h2 {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 18px;
	color: #77a466;
	text-transform: uppercase;
}

#about p {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	color: #000000;
	line-height: 25px;
}

/***** INFO *****/

#info{
	height: auto;
}

#menu{
   border-width: 1px;
   border-color: #dedbdc;
   border-style: solid;
   border-left: none;
   margin: 0px;
   padding: 10px 0 30px;
}

#menu h3 {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 12px;
	color: black;
	text-transform: uppercase;
}

#menu p {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	color: #77a466;
	line-height: 18px;
}

#reviews{
   border: 1px solid #dedbdc;
   border-left: none;
   padding: 10px 30px;
}

#reviews h3 {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}

#reviews p {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	line-height: 21px;
}

#contact{
	border-top: 1px solid #dedbdc;
	border-bottom: 1px solid #dedbdc;
   	padding: 10px 0px 43px 30px;
}

#contact h3 {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 12px;
	color: black;
	text-transform: uppercase;
}

#contact p {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: 16px;
	color: black;
	line-height: 24px;
}

/***** FOOTER *****/

footer{
	clear: both;
	height: 50px;
	padding-top: 35px;
	padding-bottom: 35px;
}

footer h2 {
	font-family: 'Montserrat-Regular', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
}

footer h2 span {
	font-family: 'Pacifico', cursive;
	text-transform: lowercase;
	color: #77a466;
}




